*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark: #24292f;
  --light-gray: #f7f8fa;
  --color-border-default: #d0d7de;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
}

header {
  background: var(--dark);
  color: white;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  cursor: pointer;
  background-color: inherit;
  color: white;
  border: 0;
}

.header {
  padding: 1em;
}

.notification {
  position: absolute;
  right: 14px;
  top: 15px;

  width: 14px;
  height: 14px;
  background-image: linear-gradient(rgb(100, 175, 255), rgb(55, 55, 255));
  border-radius: 50%;
  border: 2px solid var(--dark);
}

.main {
  background-color: var(--light-gray);
  padding: 1em;
  margin-top: 1em;
}

.container {
  padding: 2em 1em;
  background-color: white;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--color-border-default);
}
.activity-container {
  padding: 0.8em;
  background-color: white;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--color-border-default);
}

.list {
  padding-top: 1em;
  padding-bottom: 1em;
}

.activity-description {
  border: 1px dashed var(--color-border-default);
  padding: 1em;
  border-radius: 0.5em;
}

#repo-search {
  width: 100%;
  background-color: var(--light-gray);
  border: 1px solid var(--color-border-default);
  padding: 0.8em;
  border-radius: 0.5em;
}

#repo-search:focus {
  background-color: white;

  outline-color: blue;
}

/* clears the 'X' from Internet Explorer */
input#repo-search[type="search"]::-ms-clear,
input#repo-search[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input#repo-search[type="search"]::-webkit-search-decoration,
input#repo-search[type="search"]::-webkit-search-cancel-button,
input#repo-search[type="search"]::-webkit-search-results-button,
input#repo-search[type="search"]::-webkit-search-results-decoration {
  display: none;
}

hr {
  border-top: 1px solid var(--color-border-default);
  margin-bottom: 1em;
}
