*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark: #24292f;
}

header {
  background: var(--dark);
  color: white;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  cursor: pointer;
  background-color: inherit;
  color: white;
  border: 0;
}

.header {
  padding: 1em;
}

.notification {
  position: absolute;
  right: 14px;
  top: 15px;

  width: 14px;
  height: 14px;
  background-image: linear-gradient(rgb(100, 175, 255), rgb(55, 55, 255));
  border-radius: 50%;
  border: 2px solid var(--dark);
}
